<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<nav th:fragment="navigation">
    <ul>
        <li><a href="/events">All Events</a></li>
        <li><a href="/events/create">Create Event</a></li>
    </ul>

</nav>







<!--<h1 th:fragment= "styleHeader" class="fancyTitle" th:text="${title}"></h1>-->
<!--<div th:fragment = "linkList">-->
<!--&lt;!&ndash;    use th:block if you don't want to keep the linkList inside the <div> tag&ndash;&gt;-->
<!--    <hr>-->
<!--    <a href = "https://www.launchcode.org">LaunchCode</a> <br/>-->
<!--    <a href = "https://www.lego.com">Play Well</a> <br/>-->
<!--    <a href = "https://www.webelements.com">Other Building Blocks</a>-->

<!--</div>-->

</body>
</html>